.project {
    width: 318px;
    height: 34px;
    overflow: auto;
}

.task {
    width: 318px;
    height: 34px;
}

html {
    overflow: auto;
}

.content {
    font-size: 16;
    padding-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

.submit {
    font-size: 16;
    float: right;
    margin-right: 10px;
}

.duration {
    width: 75px;
    font-size: 16;
    float: right;
    text-align: right;
}