.client {
    width: 318px;
    height: 52px;
    overflow: auto;
}

.project {
    width: 318px;
    height: 34px;
    overflow: auto;
}

.task {
    width: 318px;
    height: 34px;
}

html {
    overflow: auto;
    /* height: 410px; */
}

iframe {
    height: 400px;
}

.content {
    font-size: 16;
    padding-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
  font-size: 16;
}