.client {
    width: 318px;
    height: 52px;
    overflow: auto;
}

.project {
    width: 318px;
    height: 34px;
    overflow: auto;
}

.task {
    width: 318px;
    height: 34px;
}

html {
    overflow: auto;
    /* height: 410px; */
}

iframe {
    height: 500px;
}

.taskHeader {
    padding-top: 10px;
}

.content {
    font-size: 16;
}